In [1]:
import pandas as pd      
import numpy as np       
import matplotlib.pyplot as plt  
import seaborn as sns
import pandasql as ps

In [2]:
import mysql.connector   # basic MySQL connector
from sqlalchemy import create_engine

In [3]:
loan_df = pd.read_csv("C:/Users/shiks/Downloads/loan_data.csv")

In [6]:
loan_df1 = pd.read_csv("loan_features.csv")

In [4]:
#eda

In [5]:
query = """
SELECT loan_status,
       COUNT(*) AS total_loans,
       ROUND(COUNT(*)*100.0 / (SELECT COUNT(*) FROM loan_df), 2) AS pct_share
FROM loan_df
GROUP BY loan_status;
"""

result = ps.sqldf(query, locals())
print(result)

   loan_status  total_loans  pct_share
0            0        35000      77.78
1            1        10000      22.22

In [7]:
default_count = loan_df['loan_status'].sum()
total_loans = loan_df.shape[0]
default_pct = round((default_count / total_loans) * 100, 2)

print("Total Loans:", total_loans)
print("Defaults:", default_count)
print("Default %:", default_pct)

Total Loans: 45000
Defaults: 10000
Default %: 22.22

In [9]:
default_by_income = loan_df1.groupby('income_bucket')['loan_status'].mean().reset_index()
print(default_by_income)

  income_bucket  loan_status
0          High     0.172104
1           Low     0.403733
2        Medium     0.220514
3     Very High     0.092533

In [10]:
default_by_intent = loan_df1.groupby('loan_intent')['loan_status'].mean().reset_index()
print(default_by_intent)

         loan_intent  loan_status
0  DEBTCONSOLIDATION     0.302729
1          EDUCATION     0.169562
2    HOMEIMPROVEMENT     0.263015
3            MEDICAL     0.278194
4           PERSONAL     0.201404
5            VENTURE     0.144264

In [11]:
default_by_credit = loan_df1.groupby('credit_score_bucket')['loan_status'].mean().reset_index()
print(default_by_credit)

  credit_score_bucket  loan_status
0           Excellent     0.000000
1                Fair     0.224511
2                Good     0.216117
3                Poor     0.223070
4           Very Good     0.211765

In [12]:
default_prev = loan_df1.groupby('prev_default_flag')['loan_status'].mean().reset_index()
print(default_prev)

   prev_default_flag  loan_status
0                  0      0.45163
1                  1      0.00000

In [13]:
loan_df1['dti_group'] = pd.cut(loan_df1['debt_to_income'], bins=5)
default_by_dti = loan_df1.groupby('dti_group')['loan_status'].mean().reset_index()
print(default_by_dti)

            dti_group  loan_status
0  (-5.92e-06, 0.133]     0.125307
1      (0.133, 0.266]     0.240891
2      (0.266, 0.399]     0.705301
3      (0.399, 0.531]     0.752193
4      (0.531, 0.664]     0.689655

C:\Users\shiks\AppData\Local\Temp\ipykernel_13364\1863944674.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  default_by_dti = loan_df1.groupby('dti_group')['loan_status'].mean().reset_index()